{% extends 'nav.html' %}

{% block title %} Home {% endblock %}

{% block content %}

<div style="display: flex; flex-wrap: wrap;">
{% for product in products %}
    <div style="border: 0.12px solid black; padding: 10px; margin-right: 15px;">
        <div class='w3-center'>
        <h3>{{ product.name }}</h3>
        <p>From: {{ product.user.username }}</p>
        
        <a href='{% url "view_product" product.id %}'><img src="{{ product.image.url }}" alt="{{ product.name }}" style="height: 150px; width:auto;"></a> <br>
        <p>Price: <b>{{ product.price }}</b></p>
        {% if user.is_authenticated %}
            {% if product.user != user %}
            <button><a href="{% url 'add_to_cart' product.id %}">Add to Cart</a></button>
            <button><a href="{% url 'buy_product' product.id %}">Buy</a></button>
            {% endif %}
        {% endif %}
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}