{% extends 'nav.html' %}

{% block title %} {{ user }}'s Orders {% endblock %}

{% block content %}
    <h1>Your Orders</h1>
    {% if orders %}
        <ul>
            {% for order in orders %}
                <li>
                    <strong>Order ID:</strong> {{ order.id }}<br>
                    <strong>Products:</strong>
                    <ul>
                        {% for order_item in order.orderitem_set.all %}
                            <img src='{{ order_item.product.image.url }}' style='width: 100px; height: auto;'>
                            <li>{{ order_item.product.name }} - Quantity: {{ order_item.quantity }}</li>
                            {% if order_item.complete %}
                                <li><strong>Status:</strong> Completed</li>
                            {% else %}
                                <form action="{% url 'complete_order' order_item.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="submit" value="Complete">
                                </form>
                            {%  endif %}
                        {% endfor %}
                    </ul>
                </li>
                <hr>
            {% endfor %}
        </ul>
    {% else %}
        <p>You have no orders yet.</p>
    {% endif %}
{% endblock %}